body {
	background-color: white !important;
}

.wrapper {
	width: 1500px;
	margin: auto;
}

.landingspage-container {
	width: 100%;
	height: 90vh;
	/* background-color: white; */
	display: flex;
	align-items: center;
	padding: 5vh 5rem 0rem 5rem;
	background-size: cover;
}

.landingspage-triangle {
	width: 100vw;
	height: 100vh;
	background-color: blue;
	background: linear-gradient(45deg, #88d6f2, #096bf0);
	position: absolute;
	z-index: -1;
	right: -33vw;
	top: -30vh;
	transform: rotate(45deg);
}

.landingspage-header-text {
	width: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.landingspage-header-text-wrapper {
	width: 60%;
}

/* .landingspage-header-text > h1 {
	width: 60%;
} */

.landingspage-header-image {
	width: 50%;
	display: flex;
	place-content: flex-start;
}

.landingspage-header-list {
	margin: 2rem 0rem;
	display: flex;
	flex-direction: column;
}

.landingspage-header-list-item-text > a {
	color: black;
	line-height: 1.2;
	font-size: 1.3rem;
	font-weight: 300;
	text-decoration: underline;
}

.landingspage-header-text-wrapper > form {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.landingspage-header-text-wrapper > form > input {
	border: 1px solid #a7a9ab;
	margin-bottom: 18px;
	font-style: inherit;
	font-variant: inherit;
	font-stretch: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	box-sizing: content-box;
	height: 1.4375em;
	-webkit-tap-highlight-color: transparent;
	display: block;
	min-width: 0px;
	width: 100%;
	animation-name: mui-auto-fill-cancel;
	animation-duration: 10ms;
	color: rgb(33, 33, 33);
	font-weight: 500;
	background: rgb(250, 250, 250);
	padding: 15.5px 14px;
	border-radius: 8px;
}

.landingspage-header-text-wrapper > form > button {
	border-radius: 8px;
	width: 432px;
	padding: 14px;
	height: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
	font-size: 0.9375rem;
	line-height: 1.75;
	min-width: 64px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: rgb(255, 255, 255);
	background-color: rgb(33, 150, 243);
	box-shadow: none;
	font-weight: 500;
	border-radius: 4px;
	padding: 12px 22px;
}

.landingspage-header-text-wrapper > h1 > p {
	color: black;
	white-space: nowrap;
	font-size: 40px;
	font-size: 38px;
	font-weight: 500;
	line-height: 1.2;
}

/* first max wrapper */
@media only screen and (max-width: 1550px) {
	.wrapper {
	}
}

@media only screen and (max-width: 1000px) {
	.wrapper {
	}
}

@media only screen and (max-width: 60px) {
	.wrapper {
	}
}

@media only screen and (max-width: 400) {
	.wrapper {
	}
}
