.about-container {
	width: 100%;
	height: 450px;
	/* background-color: white; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-wrapper {
	width: 80%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-wrapper > h2 {
	color: black;
	font-size: 2rem;
	text-align: left;
}

.about-wrapper > p {
	font-size: 1.3rem;
	width: 60%;
}

.features-v2-container {
	display: flex;
	width: 1200px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.features-v2-container > a {
	font-size: 1.5rem;
	font-weight: 400;
	color: #000;
	padding: 0px 5px;
	text-decoration: none;
	/* box-shadow: 0 1px 16px rgb(0 0 0 / 20%);
	border-radius: 15px;
	padding: 2rem; */
}

/* Underline for links using box-shadow */
/* .shadow-underline {
	box-shadow: inset 0 -0.45em 0 rgb(165, 192, 250);
	transition: box-shadow 0.5s ease;
}

.shadow-underline:hover {
	box-shadow: inset 0 -1.25em 0 rgb(165, 192, 250);
} */

/* Decorative static underline */
/* .underline {
	padding-right: 0.5em;
	box-shadow: inset 0 -0.55em 0 rgb(165, 192, 250);
} */
