.questionnaire-container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 1000px;
	/* background-color: white; */
	padding: 0rem 5rem;
	color: white;
}

.questionnaire-text-container {
	width: 50%;
	color: black;
	display: flex;
	justify-content: center;
}

.questionnaire-text-wrapper {
	width: 60%;
	display: flex;
	font-size: 1.2rem;
	flex-direction: column;
}

.questionnaire-text-wrapper > h2 {
	color: black;
	margin-bottom: 30px;
	font-size: 2rem;
}

.questionnaire-questions-container {
	width: 50%;
	display: flex;
	justify-content: center;
}

.questionnaire-box {
	background-color: rgb(62, 121, 247);
	width: 500px;
	min-height: 300px;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	justify-content: center;
}

.questionnaire-box > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.questionnaire-choice-container {
	width: 33%;
	background-color: rgb(99 146 236);
	padding: 14px;
	margin: 5px;
	border-radius: 15px;
	box-shadow: 0 1px 16px rgb(0 0 0 / 20%);
	cursor: pointer;
	display: flex;
	align-items: center;
}

.questionnaire-choice-container:hover {
	background-color: rgb(142, 175, 236);
}

.questionnaire-choice-container > input[type="radio"] {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.questionnaire-box > form > button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 53px;
	width: 150px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
	font-size: 0.9375rem;
	line-height: 1.75;
	min-width: 64px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: rgb(255, 255, 255);
	background-color: rgb(33, 150, 243);
	box-shadow: none;
	font-weight: 500;
	border-radius: 4px;
	padding: 12px 22px;
}

.questionnaire-box > form > input[type="submit"]:hover {
	background-color: rgb(142, 175, 236);
}

.questionnaire-choice-container > label {
	font-size: 1rem;
}
