.questionnaire-container {
	width: 100%;
	display: flex;
	align-items: center;
	height: 90vh;
	background-color: white;
	padding: 0rem 5rem;
	color: white;
}

.questionnaire-text-container {
	width: 50%;
	color: black;
	display: flex;
	justify-content: center;
}

.questionnaire-text-wrapper {
	width: 60%;
	display: flex;
	font-size: 1.2rem;
	flex-direction: column;
}

.questionnaire-text-wrapper > h2 {
	color: black;
	margin-bottom: 30px;
	font-size: 2rem;
}

.questionnaire-questions-container {
	width: 50%;
	display: flex;
	justify-content: center;
}

.questionnaire-box {
	background-color: rgb(62, 121, 247);
	width: 500px;
	min-height: 300px;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.questionnaire-box > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.questionnaire-choice-container {
	width: 100%;
	background-color: rgb(99 146 236);
	padding: 14px;
	margin: 5px;
	border-radius: 15px;
	box-shadow: 0 1px 16px rgb(0 0 0 / 20%);
	cursor: pointer;
	display: flex;
	align-items: center;
}

.questionnaire-choice-container:hover {
	background-color: rgb(142, 175, 236);
}

.questionnaire-choice-container > input[type="radio"] {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.questionnaire-box > form > input[type="submit"] {
	font-size: 1rem;
	margin-top: 20px;
	background-color: rgb(99 146 236); /* Green */
	border: none;
	color: white;
	padding: 8px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	cursor: pointer;
}

.questionnaire-box > form > input[type="submit"]:hover {
	background-color: rgb(142, 175, 236);
}

.questionnaire-choice-container > label {
	font-size: 1rem;
}
