.feature-card-container {
	width: 300px;
	height: 300px;
	box-shadow: 0 1px 16px rgb(0 0 0 / 20%);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.feature-card-icon-container {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-card-text-container {
	width: 100%;
	text-align: center;
}

.feature-card-text-container > span {
	color: black;
	font-size: 1.4rem;
}

.feature-card-text-container > p {
	color: rgb(172, 170, 170);
}
