<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    <div id="header-section">
        <div id="header">
            <h1><P style="float:left; margin-right: 1vh; color: yellow;">Hey!</P> Ik ben dusty <br> een student software engineer</h1>
            <p style="font-size: 2vh;">
                Huidig volg ik een studie Software Engineering op het HvA. Tijdens
                <br> deze opleiding heb ik mijn passie gevonden voor programeren. <br>
                Ik leer in mijn vrije tijd graag bij en verbeter graag mijn skills en <br>
                proffesionele houding. Bekijk gerust mijn <a href="" class="text-link">Curriculum Vitea</a><br><br>

                Je kan mijn project vinden op <a href="" class="text-link">github</a> en school projecten op <a href="" class="text-link">gitlab</a> <br>
                Ook kan je mijn <a href="" class="text-link">LinkedIn</a> bekijken.
            </p>
        </div>
    </div>

    <div id="content-section">
        <h1 id="project-title">Projects</h1>

        {% for item in site.posts %}
            <div class="project" style="background-image: url('{{ item.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
            </div>
        {% endfor %}
    </div>
  </body>
</html>


