<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{ page.title }}</title>
    <link rel="icon" 
    type="image/png" 
    href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/card.css">
  </head>
  <body>  
    <div id="header-section">
        <div id="header">
            <h1>Ik ben dusty een student software engineer</h1>
            <p style="font-size: 2vh; margin-top: 3vh;">
                Huidig volg ik een studie Software Engineering op het HvA. Tijdens
                <br> deze opleiding heb ik mijn passie gevonden voor programmeren. <br>
                Ik leer in mijn vrije tijd graag bij en verbeter graag mijn skills en <br>
                proffesionele vakmanschap. Bekijk gerust mijn <a href="/assets/pdf/publiekeCV.pdf" target="blank" class="text-link" download>Curriculum Vitea.</a><br><br>

                Je kan mijn project vinden op <a href="https://github.com/DDusty" target="blank" class="text-link">Github</a> en school projecten op 
                <a href="https://gitlab.fdmci.hva.nl/dassend" class="text-link">Gitlab.</a> <br>
                Ook kan je mijn <a href="https://www.linkedin.com/in/dusty-dassen-9a9663173/" target="blank" class="text-link">LinkedIn</a> bekijken. <br><br>

                Naast programmeren vind ik het leuk om te netflixen, bier te drinken  <br> met vrienden
                en af en toe een spelletje te spelen.<br><br>

                Rechts vindt u wat uitgelichte projecten.<br><br>

                <a href="mailto:dusty.8@hotmail.com" target="blank" class="text-link">Contact</a>
            </p>
        </div>
    </div>

    <div class="card-section">

      <div id="card-section-title">
        <p>Projects.</p>
      </div>
      
      <div class="card-list">

        {% for item in site.posts %}

        <!-- <a href="{{ item.url }}"> -->
        <div class="card" onclick="window.location='{{ item.url }}'">
            <header class="card-header">
              <p>{{ item.date }}</p>
              <h2>{{ item.title }}</h2>
            </header>

            <div class="tags">
            {% for tag in item.tags %}
                <a>{{ tag }}</a>
            {% endfor %}
          </div>
        </div> 
        <!-- </a> -->

        {% endfor %}

      </div>
    </div>
  </body>
</html>


