<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    <div id="header-section">
        <div id="header">
            <h1><P style="float:left; margin-right: 1vh; color: yellow;">Hey!</P> Ik ben dusty <br> een student software engineer</h1>
            <p style="font-size: 2vh;">
                Huidig volg ik een studie Software Engineering op het HvA. Tijdens
                <br> deze opleiding heb ik mijn passie gevonden voor programeren. <br>
                Ik leer in mijn vrije tijd graag bij en verbeter graag mijn skills en <br>
                proffesionele houding. <br><br>
                Scroll naar beneden voor wat projecten.
            </p>

            <div style="margin-top: 2vh">
                <a href="https://google.com" target="blank" class="button">CV</a>
                <a href="https://github.com/DDusty" target="blank" class="icon-button">G</a>
                <a href="https://www.linkedin.com/in/dusty-dassen-9a9663173/" target="blank" class="icon-button">L</a>
            </div>
            
        </div>
    </div>

    <div id="content-section">
        {% for item in site.posts %}
        <div class="wrapper">
            <div class="project-wrapper">
                <div class="project">
                    <h1><a href="{{ item.url }}">{{ item.title }}</a></h1>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- {% for item in site.posts %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                {% if thecycle == 'odd' %}
                <div class="wrapper">
                    <div class="number-wrapper">
                        <p class="number"></p>
                    </div>
                    <div class="project-wrapper">
                        <div class="project">
                            <h1><a href="{{ item.url }}">{{ item.title }}</a></h1>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if thecycle == 'even' %}
                <div class="wrapper">
                    
                    <div class="project-wrapper">
                        <div class="project">
                            <h1><a href="{{ item.url }}">{{ item.title }}</a></h1>
                        </div>
                    </div>
                    <div class="number-wrapper">
                        <p class="number"></p>
                    </div>
                </div>
                {% endif %}
        {% endfor %} -->

    </div>
  </body>
</html>


