<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    <div id="header">
        <h1>Hey! Ik ben dusty <br> een student software engineer</h1>
        <div style="margin-top: 1vh">
            <button class="button">CV</button>
            <button class="icon-button" style="background: url("../assets/img/github.png")"></button>
            <button class="icon-button"></button>
        </div>
    </div>

    <div id="content">
    {% for post in site.posts %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endfor %}
    </div>

  </body>
</html>


