<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{ page.title }}</title>
    <link rel="icon" 
    type="image/png" 
    href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/card.css">
  </head>
  <body>  
    <div id="header-section">
        <div id="header">
            <h1><P style="float:left; margin-right: 1vh; color: yellow;">Hey!</P> Ik ben dusty <br> een student software engineer</h1>
            <p style="font-size: 2vh; margin-top: 3vh;">
                Huidig volg ik een studie Software Engineering op het HvA. Tijdens
                <br> deze opleiding heb ik mijn passie gevonden voor programmeren. <br>
                Ik leer in mijn vrije tijd graag bij en verbeter graag mijn skills en <br>
                proffesionele vakmanschap. Bekijk gerust mijn <a href="/assets/pdf/publiekeCV.pdf" target="blank" class="text-link" download>Curriculum Vitea.</a><br><br>

                Je kan mijn project vinden op <a href="https://github.com/DDusty" target="blank" class="text-link">Github</a> en school projecten op 
                <a href="https://gitlab.fdmci.hva.nl/dassend" class="text-link">Gitlab.</a> <br>
                Ook kan je mijn <a href="https://www.linkedin.com/in/dusty-dassen-9a9663173/" target="blank" class="text-link">LinkedIn</a> bekijken. <br><br>

                Naast programmeren vind ik het leuk om te netflixen, bier te drinken  <br> met vrienden
                en af en toe een spelletje te spelen.<br><br>

                Rechts vindt u wat uitgelichte projecten.<br><br>

                <a href="mailto:dusty.8@hotmail.com" target="blank" class="text-link">Contact</a>
            </p>
        </div>
    </div>

    <div id="content-section">
        <h1 id="project-title">Projecten -</h1>

        {% for item in site.posts %}
            <div class="project" style="background-image: url('{{ item.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <h2><a class="effect-underline" href="{{ item.url }}">{{ item.title }}</a></h2>
            </div>
        {% endfor %}

    </div>

    <div class="card-section">
      <div class="card-list">
        
        <article class="card">
          <header class="card-header">
            <p>Sep 11th 2020</p>
            <h2>Never forget</h2>
          </header>
  
        
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
            <a href="#">web-dev</a>
          </div>
        </article>
  
  
  
        <article class="card">
          <header class="card-header">
            <p>Sep 11th 2020</p>
            <h2>Card Tricks are fun!</h2>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="https://api.adorable.io/avatars/172/a.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Pirate</div>
              Zheng Zhilong
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
          </div>
        </article>
  
  
  
  
        <article class="card">
          <header class="card-header">
            <p>Sep 11th 2020</p>
            <h2>Card Tricks are fun!</h2>
          </header>
  
          <div class="card-author">
            <a class="author-avatar" href="#">
              <img src="https://api.adorable.io/avatars/172/b.png" />
            </a>
            <svg class="half-circle" viewBox="0 0 106 57">
              <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
            </svg>
  
            <div class="author-name">
              <div class="author-name-prefix">Pirate</div>
              Francis Drake
            </div>
          </div>
          <div class="tags">
            <a href="#">html</a>
            <a href="#">css</a>
          </div>
        </article>

      </div>
    </div>
  </body>
</html>


