<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    <div id="header-section">
        <div id="header">
            <h1><P style="float:left; margin-right: 1vh; color: yellow;">Hey!</P> Ik ben dusty <br> een student software engineer</h1>
            <p style="font-size: 2vh;">
                Huidig volg ik een studie Software Engineering op het HvA. Tijdens
                <br> deze opleiding heb ik mijn passie gevonden voor programeren. <br>
                Ik leer in mijn vrije tijd graag bij en verbeter graag mijn skills en <br>
                proffesionele houding.
            </p>

            <div style="margin-top: 2vh">
                <a href="https://google.com" target="blank" class="button">CV</a>
                <a href="https://github.com/DDusty" target="blank" class="icon-button">G</a>
                <a href="https://www.linkedin.com/in/dusty-dassen-9a9663173/" target="blank" class="icon-button">L</a>
            </div>
            
        </div>
    </div>

    <div id="content-section">
        {% for item in site.posts %}
            <div class="project" style="background-image: url('item.image'); background-repeat: no-repeat;">
                <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
            </div>
        {% endfor %}
    </div>
  </body>
</html>


