<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    <div id="header-section">
        <div id="header">
            <h1><P style="float:left; margin-right: 1vh; color: yellow;">Hey!</P> Ik ben dusty <br> een student software engineer</h1>
            <p>
                "Huidig volg ik een studie Software Engineering op het HvA. <br>
                Tijdens deze opleiding heb ik mijn passie gevonden voor programeren. <br>
                Ik leer in mijn vrije tijd graag bij en verbeter graag mijn skills en <br>
                proffesionele houding."
            </p>

            <div style="margin-top: 2vh">
                <a href="https://google.com" target="blank" class="button">CV</a>
                <a href="https://github.com/DDusty" target="blank" class="icon-button">G</a>
                <a href="https://www.linkedin.com/in/dusty-dassen-9a9663173/" target="blank" class="icon-button">L</a>
            </div>
            
        </div>
    </div>

    <div id="content-section">

        {% for post in site.posts %}
        <div class="wrapper">
            <div class="number-wrapper">
                <p class="number"></p>
            </div>
            <div class="project-wrapper">
                <div class="project">
                    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div id="footer">
        <p>Neem contact met mij op</p>
        <a class="button">Info@Mijnwebsite.nl</a>
    </div>

    <script>
        var posts = document.getElementsByClassName("number");
        for (var i = 0; i < posts.length; i++) {
            var number = i + 1;
            document.getElementsByClassName("number")[i].innerHTML = "0" + number;
        }
    </script>
  </body>
</html>


