.subscribe-container {
	width: 100%;
	display: flex;
	height: 650px;
}

.subscribe-left-container {
	width: 65%;
	background-color: rgb(227, 242, 253);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.subscribe-box {
	width: 700px;
	height: 400px;
	margin-right: -200px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(33 150 243 / 20%) 0px 0px 50px;
	border-radius: 20px;
	padding: 100px 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subscribe-box > h2 {
	margin: 0px;
	font-size: 2.125rem;
	color: rgb(33, 33, 33);
	font-weight: 700;
	font-family: Roboto, sans-serif;
	line-height: 1.167;
}

.subscribe-box > p {
	margin: 0px;
	letter-spacing: 0em;
	font-weight: 400;
	line-height: 1.5em;
	color: rgb(97, 97, 97);
	font-family: Roboto, sans-serif;
	font-size: 0.875rem;
	margin: 20px 0px;
}

.subscribe-box > form {
	display: flex;
}

.subscribe-box > form > input[type="text"] {
	border: 1px solid #a7a9ab;
	margin-bottom: 18px;
	font-style: inherit;
	font-variant: inherit;
	font-stretch: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	box-sizing: content-box;
	height: 1.4375em;
	-webkit-tap-highlight-color: transparent;
	display: block;
	min-width: 0px;
	width: 100%;
	margin-right: 18px;
	animation-name: mui-auto-fill-cancel;
	animation-duration: 10ms;
	color: rgb(33, 33, 33);
	font-weight: 500;
	background: rgb(250, 250, 250);
	padding: 15.5px 14px;
	border-radius: 8px;
}

.subscribe-box > form > input[type="submit"] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 53px;
	width: 200px;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
	-webkit-appearance: none;
	appearance: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Roboto, sans-serif;
	font-size: 0.9375rem;
	line-height: 1.75;
	min-width: 64px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: rgb(255, 255, 255);
	background-color: rgb(33, 150, 243);
	box-shadow: none;
	font-weight: 500;
	border-radius: 4px;
	padding: 12px 22px;
}

.subscribe-right-container {
	width: 35%;
	height: 100%;
}
