*{
    margin:0;
    padding:0;
    font-family: 'Roboto', serif;
    line-height: 1.6;
}

#hero{
    margin: 0;
    width: 40%;
    margin-left: 30%;
    height: 20vh;
    text-align: center;
}

h2{
    z-index: 1;
    color: white;
    padding-top: 2vh;
    font-size: 10vh;
}

#content{
    width: 40%;
    margin-left: 30%;
    margin-top: 2vh;
    margin-bottom: 10vh;
}