*{
    margin:0;
    padding:0;
}

body{
    background: url("../img/bgbg.svg") no-repeat top center;
    background-size: cover;
    width: 100%
}

.header{
   margin: 15% 0% 0% 10%;
   font-size: 1.7rem;
   color: white;
}

#content{
    margin: 15% 0% 0% 10%;
    margin-top: 60vh;
}