*{
    margin:0;
    padding:0;
}

body{
    background: url("../img/bgbg.svg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
}

.header{
   margin: 10% 20% 10% 10%;
}