body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Poppins' !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-y: auto;
  height: 100%;
  background: black !important;
}

img {
  max-width: 100%;
    height: auto;
}

.makeStyles-paper-11,
.makeStyles-paper-11 h2,
.MuiTypography-body1,
.MuiPaper-root,
.MuiPaper-root h2 {
  color: #2c2560 !important;
}

body {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amarante', cursive !important;
}

footer .a:hover {
  fill: '#DA4567';
}

.MuiToolbar-regular {
  color: #e0e3bd;
}

.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tvl-button {
  background: transparent;
  border: 1px solid #f500fa;
  border-radius: 12px;
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: center;
}

.dot-loader {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 100%;
  animation: 0.7s linear 0.35s infinite normal both running fading;
}

.dot-louder-middle {
  animation-delay: 0.7s
}

@keyframes fading {
  0% {
    opacity:0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity:0.1;
  }
}

.wallet-button {
  color: #2c2560 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 1.1rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}
.wallet-button:hover {
  background-color: black !important;
  color: #757ce8 !important;
}

.btn-wallet {
  border-radius: 16px !important;
    background: none !important;
    border: 1px solid yellow !important;
    color: white !important;
}

.home-card {
  height: 440px;
  width: 250px;
  background-image: linear-gradient(1turn,rgba(23, 23, 2, 0.96),rgb(2 3 62/59%))!important;
  border-radius: 2rem;
  border: 2px solid #fdfd07;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bank-card {
  background-image: linear-gradient(1turn,rgba(23, 23, 2, 0.96),rgb(2 3 62/59%))!important;
  border-radius: 2rem;
  border: 2px solid #fdfd07;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  color: white !important;
}

.MuiPaper-root {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
}

.MuiTypography-body1 {
  color: rgb(245, 0, 250) !important
}
.MuiPaper-root h2 {
  color: white !important;
}

.buy-btn {
  border-radius: 1rem!important;
  --tw-border-opacity: 1;
  font-size: 1rem!important;
  line-height: 1.5rem;
  font-weight: 700 !important;
  background-image: linear-gradient(243deg,#ebd919,#4b024c 107.31%);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #fff !important;
  cursor: pointer;
  border: none!important;
  padding: 0.5rem 1rem !important;
  text-transform: none!important;
  /* max-width: 10rem; */
  border: 1px solid #ebd919 !important;
}

.buy-btn-disabled {
  background-image: linear-gradient(243deg,#2a2a2a,#2e2c2e 107.31%);
  color: grey !important;
  border: 1px solid #b4b4b4 !important;
}

body {
  margin: 0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 50px);
  margin-left: 100px;
  box-sizing: border-box;
}

.jobs {
	box-sizing: border-box;
	color: white;
	padding-top: 50px;
	min-width: 750px;
}

.jobs-container {
	width: 750px;
	height: 110px;
	border-radius: 4px;
	background-color: #1e1e1e;
	padding: 16px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

h2, ul {
	margin: 0;
	padding: 0;
}

.job-tags-container {
	display: flex;
	width: 400px;
	align-items: flex-end;
}

.job-button-container {
	display: flex;
	align-items: flex-end;
}

.job-info-container {
	min-width: 130px;
}

.job-button-container > a {
	text-decoration: none;
    color: #000405;
    background: linear-gradient(90deg, rgba(59,165,213,1) 0%, rgba(0,247,170,1) 100%);
    height: 30px;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
	display: flex;
}

.tag {
	height: 16px;
	padding: 5px 16px;
	width: fit-content;
	border: 1px solid grey;
	font-size: 13px;
	border-radius: 15px;
	margin: 0px 7px;
}

.container {
	width: fit-content;
    display: flex;
    margin: auto;
}

.home-header {
	width: 700px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.accordion {
	width: 40%;
	box-sizing: border-box;
	height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-header-span {
  font-size: 1rem;
  color: #00FFFF;
  letter-spacing: 4px;
}

.home-header-title {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.home-header-p {
  color: #BDC3C7;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 1.8;
  /* text-align: center; */
  /* margin-left: 12px; */
}

.home-header-wrapper {
	width: 700px;
}

.navigation {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  height: 50px;
  align-items: center;
  padding-top: 16px;
  
  box-sizing: border-box;
}

.navigation > div > span {
  font-size: 22px;
  font-weight: 900;
}

.navigation > ul {
	display: flex;
	align-items: center;
}

ul {
  list-style-type: none;
}

.active-link {
  color: rgb(255, 234, 0) !important;
  text-shadow:
    0 0 7px rgba(255, 255, 255, 0.233),
    0 0 10px rgba(253, 212, 10, 0.288),
    0 0 21px #fff,
    0 0 42px rgba(225, 255, 0, 0.201),
    0 0 82px rgba(255, 225, 0, 0.291),
    0 0 92px rgba(255, 145, 0, 0.265),
    0 0 102px #0fa,
    0 0 151px #0fa;
}



.nav-button {
  width: 140px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.75;
  padding: 6px 16px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  min-width: 90px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease 0s;
  backface-visibility: hidden;
  background: linear-gradient(91.59deg, rgb(2, 119, 250) -2.14%, rgb(255, 78, 147) 101.38%);
  text-transform: none;
}

.nav-button:hover {
  box-shadow: rgb(2 119 250) 0px 0px 12px 0px;
}

.about-section {
  width: 100%;
  height: 100vh;
  /* background: red; */
}


:root {
	--delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
	-webkit-animation-delay: var(--animation-delay, 2s);
	        animation-delay: var(--animation-delay, 2s);
	-webkit-animation-iteration-count: var(--iterations, 1);
	        animation-iteration-count: var(--iterations, 1);
	-webkit-animation-duration: var(--duration, 800ms);
	        animation-duration: var(--duration, 800ms);
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	-webkit-animation-name: clip-text;
	        animation-name: clip-text;
	white-space: nowrap;
	
}

.reveal-text::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: white;
		transform: scaleX(0);
		transform-origin: 0 50%;
		-webkit-animation-name: text-revealer;
		        animation-name: text-revealer;
	}


@-webkit-keyframes clip-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@keyframes clip-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		        clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		        clip-path: inset(0 0 0 0);
	}
}


@-webkit-keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.accordion-item {
	width: 350px;
}

.accordion-title {
	width: 350px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    margin: 12px 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    box-sizing: border-box;
    background: #2B2D2E;
    cursor: pointer;
    font-size: 14px;
	transition: background 0.2s ease;
	transition: box-shadow 0.2s ease;

}

.accordion-active {
	background: rgb(59,165,213);
	background: linear-gradient(90deg, rgba(59,165,213,1) 0%, rgba(0,247,170,1) 100%);
	color: black;
}

.accordion-content {
	color: #AAA8A8;
	line-height: 1.7;
	width: 600px;
}

@media only screen and (max-width: 1600px) {
	.accordion-content {
		width: 100%;
	}
	
  }

.accordion-title:hover {
	box-shadow: rgb(2 119 250) 0px 0px 12px 0px;
}

.socials {
	position: fixed;
    bottom: 0;
    left: 0px;
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-container {
	width: 50px;
	height: 50px;
	margin: 14px 0px;
	border-radius: 25px;
      display: flex;
    justify-content: center;
}

.social-icon svg {
	transition: all 0.2s ease;

}

.social-icon:hover svg {
	-webkit-transform:scale(1.1); /* Safari and Chrome */
   -moz-transform:scale(1.1); /* Firefox */
   -ms-transform:scale(1.1); /* IE 9 */
   -o-transform:scale(1.1); /* Opera */
	transform:scale(1.1);
	/* box-shadow: rgb(2 119 250) 0px 0px 12px 0px; */
	/* border-radius: 50px; */
}

.login {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-container {
	width: 250px;
	background-color: white;
	padding: 32px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.login-container > span {
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-bottom: 18px;
}

.login-textBox {
	width: 100%;
	padding:8px 0px;
	border:1px solid rgb(193, 191, 191);
	border-radius:5px;
	margin-bottom:15px;
	outline:none;
	font-size:14px;
	text-indent:10px;
	margin-right: 15px;
}

.login-btn {
	width:100%;
	padding:8px 10px;
	color:white;
	font-size:16px;
	outline:none;
	border-radius:5px;
	border:none;
	background-color: #3e79f7;
	cursor: pointer;
}

.apply-form {
	margin: 70px 0px;
}

.apply-form, .required-field{
	display: flex;
	flex-direction: column;
}

.apply-form > div > input, .apply-form-inputs-split > div > input, .apply-form > div > select, .apply-form > div > textarea{
	padding: 8px;
	margin: 12px 0px;
}

.form-submit {
	width: 150px;
    margin-top: 24px;
    padding: 12px 0px;
    background: #1874f1;
    color: white;
    border: none;
	cursor: pointer;
	transition: all 0.5s ease;
}

.form-submit:hover {
    background: #1463d2;
}

.apply-form-inputs-split {
	display: flex;
}

.apply-form-inputs-split > div {
	display: flex;
    flex-direction: column;
	width: 50%;
}

.required-field label::after { 
    content: "*";
    color: red;
}

.apply-checkbox-container {
	margin: 4px 0px;
}

.apply {
	color: white;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
	padding-top: 50px;
}

.apply-wrapper {
	width: 600px;
	align-self: center;
}

.nav-link {
	color: white;
	text-decoration: none;
	margin: 0px 24px;
}

@media only screen and (max-width: 1100px) {
  .home {
    margin-left: 10px !important;

  }
  .home-header {
    width: auto;
  }

  .accordion {
    width: 250px;
  }

  .reveal-text {
    white-space: pre-wrap;
  }

  .accordion-item {
    width: 250px
  }

  .accordion-title {
    width: 250px;
    height: 45px;
  }

  .home-header-wrapper {
    width: auto;
  }
}


@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column !important;
    margin-left: 10px !important;
    text-align: -webkit-center;
    height: auto;
  }

  .home-header {
    width: 100%;
  }

  .reveal-text {
    white-space: pre-wrap;
  }

  .accordion {
    width: 100%;
  }

  .socials {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    position: static;
  }

  .nav-button {
    width: auto;
  }

  .navigation {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 450px) {
  .home {
    margin-top: 55px;

  }
}
